@import "./variables";
@font-face {
  font-family: "Anticva";
  src: url("../assets/fonts/Anticva-Regular.woff2") format("woff2"),
    url("../assets/fonts/Anticva-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  background-color: $main-color;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
