.login {
  &-inner {
    display: flex;
    flex-wrap: wrap;
  }
  &_title {
    flex: 1 1 100%;
    margin-bottom: 2rem;
  }
  &_form {
    flex: 1 1 50%;
  }
}

.form {
  &-group {
    display: flex;
    margin-bottom: 2rem;
    label {
      font-size: 2rem;
      flex-basis: 18rem;
      flex-shrink: 0;
    }
    input {
      padding: 3px 8px;
      outline: none;
      width: 100%;
    }
  }
  &-controls {
  }
}
